<a href="https://colab.research.google.com/github/sahasuman7/pandasPython/blob/main/pandastutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
df = pd.read_excel('/content/EmployeeData.xlsx')
df.head()

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E00005,Riley Washington,Director,Sales,Speciality Products,Female,Caucasian,39,2007-04-29,171487,0.23,United States,Phoenix,NaT
1,E00013,Elena Vang,Analyst,Finance,Corporate,Female,Asian,52,2019-02-19,55859,0.00,China,Beijing,NaT
2,E00013,Raelynn Ma,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,2015-10-08,94876,0.00,United States,Miami,NaT
3,E00022,Elena Her,Account Representative,Sales,Manufacturing,Female,Asian,62,2006-09-17,64669,0.00,China,Chongqing,NaT
4,E00023,Gabriel Joseph,Director,Engineering,Manufacturing,Male,Caucasian,52,2006-10-28,187992,0.28,United States,Miami,NaT

In [11]:
df['Gender'] == 'Female'

0       True
1       True
2       True
3       True
4      False
       ...
995    False
996     True
997     True
998     True
999     True
Name: Gender, Length: 1000, dtype: bool

In [12]:
df[df['Gender'] == 'Female']

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E00005,Riley Washington,Director,Sales,Speciality Products,Female,Caucasian,39,2007-04-29,171487,0.23,United States,Phoenix,NaT
1,E00013,Elena Vang,Analyst,Finance,Corporate,Female,Asian,52,2019-02-19,55859,0.00,China,Beijing,NaT
2,E00013,Raelynn Ma,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,2015-10-08,94876,0.00,United States,Miami,NaT
3,E00022,Elena Her,Account Representative,Sales,Manufacturing,Female,Asian,62,2006-09-17,64669,0.00,China,Chongqing,NaT
5,E00034,Caroline Herrera,Sr. Manger,Marketing,Manufacturing,Female,Latino,45,2004-08-19,121065,0.15,Brazil,Rio de Janerio,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,E04969,Abigail Vang,Operations Engineer,Engineering,Research & Development,Female,Asian,40,2016-09-09,109680,0.00,China,Chengdu,NaT
996,E04972,Ivy Daniels,Sr. Manger,Human Resources,Speciality Products,Female,Caucasian,41,2008-10-26,131841,0.13,United States,Columbus,NaT
997,E04972,Sophie Oh,Network Engineer,IT,Corporate,Female,Asian,29,2017-11-09,63985,0.00,United States,Miami,NaT
998,E04978,Peyton Harris,Enterprise Architect,IT,Research & Development,Female,Caucasian,45,2009-04-05,64505,0.00,United States,Miami,NaT
999,E04994,Bella Holmes,Director,Accounting,Research & Development,Female,Caucasian,35,2017-06-26,161269,0.27,United States,Miami,NaT

In [15]:
df[(df['Gender'] == 'Female' )& (df['Age']>= 50)]

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
1,E00013,Elena Vang,Analyst,Finance,Corporate,Female,Asian,52,2019-02-19,55859,0.00,China,Beijing,NaT
3,E00022,Elena Her,Account Representative,Sales,Manufacturing,Female,Asian,62,2006-09-17,64669,0.00,China,Chongqing,NaT
7,E00044,Scarlett Jenkins,Vice President,IT,Research & Development,Female,Caucasian,53,2011-11-09,198473,0.32,United States,Miami,NaT
9,E00085,Isla Wong,Vice President,Accounting,Corporate,Female,Asian,56,2014-03-16,190815,0.40,United States,Austin,NaT
18,E00116,Madelyn Mehta,Analyst,Sales,Speciality Products,Female,Asian,64,2005-01-28,55369,0.00,United States,Phoenix,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,E04917,Everleigh Washington,HRIS Analyst,Human Resources,Research & Development,Female,Caucasian,64,2001-10-20,64057,0.00,United States,Phoenix,NaT
985,E04926,Emma Luna,Field Engineer,Engineering,Speciality Products,Female,Latino,52,2008-03-25,97398,0.00,Brazil,Manaus,NaT
989,E04938,Brooklyn Daniels,Analyst,Marketing,Speciality Products,Female,Caucasian,64,2003-02-10,57032,0.00,United States,Miami,NaT
991,E04952,Paisley Gomez,Sr. Analyst,Sales,Manufacturing,Female,Latino,57,2007-10-02,98150,0.00,Brazil,Rio de Janerio,NaT
993,E04962,Elena Tan,Vice President,Engineering,Manufacturing,Female,Asian,50,2008-10-13,181801,0.40,China,Chongqing,2019-12-11

In [19]:
df[(df['Gender'] == 'Female' )& (df['Age']>= 50)]['Annual Salary']

1       55859
3       64669
7      198473
9      190815
18      55369
        ...
982     64057
985     97398
989     57032
991     98150
993    181801
Name: Annual Salary, Length: 182, dtype: int64

In [2]:
df1 = df[(df['Gender'] == 'Female' )& (df['Age']>= 50)]
df1.head()

NameError: name 'df' is not defined

In [22]:
df1['City']

1             Beijing
3           Chongqing
7               Miami
9              Austin
18            Phoenix
            ...
982           Phoenix
985            Manaus
989             Miami
991    Rio de Janerio
993         Chongqing
Name: City, Length: 182, dtype: object

In [32]:
a = df1['Department'].unique()

<class 'list'>

In [34]:
df1['Department'].value_counts()

Department
IT                 44
Finance            27
Engineering        26
Human Resources    25
Sales              24
Accounting         19
Marketing          17
Name: count, dtype: int64

In [36]:
df.shape

(1000, 14)

In [37]:
df1.shape

(182, 14)

In [38]:
df1.shape[0]

182

In [40]:
100*df1['Department'].value_counts()/df1.shape[0]

Department
IT                 24.175824
Finance            14.835165
Engineering        14.285714
Human Resources    13.736264
Sales              13.186813
Accounting         10.439560
Marketing           9.340659
Name: count, dtype: float64

In [42]:
100*df1['Department'].value_counts(normalize=True)

Department
IT                 24.175824
Finance            14.835165
Engineering        14.285714
Human Resources    13.736264
Sales              13.186813
Accounting         10.439560
Marketing           9.340659
Name: proportion, dtype: float64

In [47]:
df.groupby('Department').agg({'Annual Salary': 'mean'})

                 Annual Salary
Department
Accounting       123146.947917
Engineering      109035.208861
Finance          122802.891667
Human Resources  118058.440000
IT                97790.452282
Marketing        129663.033333
Sales            111049.857143

In [52]:
df.groupby('Job Title').agg({'Annual Salary':'mean'})

                                Annual Salary
Job Title
Account Representative           62281.619048
Analyst                          49950.666667
Analyst II                       62647.471698
Automation Engineer              95106.857143
Business Partner                 49559.789474
Cloud Infrastructure Architect   86961.333333
Computer Systems Manager         80346.809524
Controls Engineer                99626.133333
Development Engineer             77889.210526
Director                        171633.851240
Engineering Manager             101853.800000
Enterprise Architect             84698.666667
Field Engineer                   78928.952381
HRIS Analyst                     61760.375000
IT Coordinator                   48024.454545
IT Systems Architect             81496.833333
Manager                         113275.683673
Network Administrator            75908.400000
Network Architect                80092.555556
Network Engineer                 74171.714286
Operations Engineer             101135.250000
Quality Engineer                 83564.400000
Service Desk Analyst             82329.200000
Solutions Architect              78163.266667
Sr. Account Representative       84808.222222
Sr. Analyst                      86402.957143
Sr. Business Partner             85035.352941
Sr. Manger                      141067.763636
System Administrator             79852.666667
Systems Analyst                  48787.933333
Technical Architect              79773.823529
Test Engineer                    74550.833333
Vice President                  222195.171429

In [55]:
df.groupby(['Department','Gender']).agg({'Annual Salary': 'mean' , 'EEID':'count'})

                        Annual Salary  EEID
Department      Gender
Accounting      Female  130455.245283    53
                Male    114139.046512    43
Engineering     Female  104720.700000    80
                Male    113460.346154    78
Finance         Female  122094.782609    69
                Male    123760.921569    51
Human Resources Female  120208.218750    64
                Male    115802.934426    61
IT              Female   95332.554622   119
                Male    100187.909836   122
Marketing       Female  125366.649123    57
                Male    133550.238095    63
Sales           Female  108929.236842    76
                Male    113568.093750    64

In [1]:
df1.pivot_table(index = 'Gender',columns = 'Department', values='Annual Salary', aggfunc='mean')

NameError: name 'df1' is not defined